body {
  font-family: 'Catamaran';
  /*background-image: url("../images/sunset.jpg"), linear-gradient(#4980C0, #A07F54);*/s
  background-color: #fff;
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
  /*background-position: center center;*/
}

.under-construction {
  color: #000;
  /*width: 50%;*/
  margin: auto auto;
  padding: 20px;
  /*border: 1px solid lightgray;*/
  /*background-color: rgba(255, 255, 255, .3);*/
  text-align: center;
}

img {
  display: block;
  width: 400px;
  height: 300px;
  max-width: 100%;
  border: 2px solid #000;
  margin: 20px auto;
}
