/********************
  General
********************/

@import url(http://weloveiconfonts.com/api/?family=zocial);

body,
div,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: 'Fresca', serif;
    color: #000;
    max-width: 100;
    text-align: center;
}

* {
  box-sizing: border-box;
}

body {
    background: #fff;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #3fbf7f;
}

.active {
  color: #3fbf7f;
}

ul {
    list-style-type: none;
}

.header-nav,
.footer-nav,
.social-media,
.gallery {
  display: flex;
  flex-wrap: wrap;
}

/********************
  Header
********************/

.coding-img {
  width: 100px;
  margin: 25px 25px 20px;
}

.title {
  margin: 0 20px;
}

.name {
  margin-bottom: 10px;
}

.header-nav {
  justify-content: space-around;
  padding: 30px 25px 0;
  margin: 0px;
}

.header-nav-link {
  display: inline-block;
  padding: 15px 10px;
}

.hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin: 20px 20px 0;
}

/********************
  Main
********************/

.gallery-caption {
  font-size: 0.9em;
  display: block;
  margin: 10px auto 0;
  text-align: center;
}

.gallery-section {
  margin: 0 auto;
  text-align: center;
}

.billboard-img {
  width: 100%;
  max-width: 100%;
  margin: 15px auto 20px;
}

.feat-work-title {
 color: #666;
}

.gallery {
  justify-content: space-around;
}

.gallery-section {
  margin: 20px 10px 15px;
}

.gallery-img {
  display: block;
  width: 410px;
  margin: 0 auto 15px;
  max-width: 100%;
  border: 1px solid black;
}

/********************
  Footer
********************/

.footer-nav,
.social-media {
  justify-content: center;
}

.footer-nav {
  padding: 10px 10px 0;
}

.social-media {
  padding-bottom: 10px;
}

.footer-nav-link {
  display: inline-block;
  padding: 15px 10px;
}

.last-updated {
  padding: 10px;
}

.copyright {
  padding: 0 10px 10px;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

[class*="zocial-"] {
  display: inline-block;
  padding: 15px 10px;
  font-size: 1.5em;
}

/********************
  Responsive Design
********************/

@media screen and (min-width: 350px) {

  .gallery-caption {
    font-size: 1em;
  }

  [class*="zocial-"] {
    font-size: 1.5em;
  }

}

@media screen and (min-width: 400px) {

  .header-nav {
    justify-content: center;
  }

}

@media screen and (min-width: 500px) {

  .coding-img-div {
    text-align: left;
  }

  .title {
    position: absolute;
    top: 25px;
    right: 25px;
    margin: 0;
  }

  .name,
  .job-title {
    text-align: right;
  }

  .name {
    font-size: 2.5em;
  }

  .header-nav-link {
    margin: 0 10px;
  }

}

@media screen and (min-width: 525px) {

  .header-nav-link {
    padding-bottom: 0;
  }

}

@media screen and (min-width: 600px) {

  .header-nav {
    /*margin-left: 20%;*/
  }

}

@media screen and (min-width: 700px) {

  .header-nav {
    justify-content: flex-start;
    margin-left: 23%;
  }

}

@media screen and (min-width: 850px) {

  .header-nav-link,
  .footer-nav-link,
  .gallery-caption {
    font-size: 1.2em;
  }

  .coding-img-div {
    margin-bottom: -80px;
  }

  .title {
    top: 15px;
  }

  .asterisk {
    color: #fff;
  }

  .feat-work-title {
    text-align: left;
    margin: -2px 0 -2px -5px;
  }

  .gallery-section {
    width: 45%;
  }

}

@media screen and (min-width: 1050px) {

  .name {
    font-size: 3.5em;
  }

}

@media screen and (min-width: 1150px) {

  .header-nav {
    /*margin-left: 17%;*/
  }

  a {
    font-size: 1.3em;
  }

  .gallery-section {
    width: 30%;
  }

}

@media screen and (min-width: 1300px) {

  .header-nav {
    margin-left: 25%;
  }

}
