body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.author-site {
  background-image: url("../images/author-site_1349x605.png");
}

.daily-content-site {
  background-image: url("../images/daily-content-site_1351x605.png")
}

.editor-site {
  background-image: url("../images/editor-site_1351x605.png")
}

.freelancer-blog {
  background-image: url("../images/freelancer-blog_1351x605.png")
}

.self-help-site {
  background-image: url("../images/self-help-site_1351x605.png")
}
